*{
    margin: 0;
}
.header{
   
    color: rgb(7, 4, 4);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    align-items: center;
    list-style: none;
    line-height: 40px; 
    position: absolute;
    width: 100%;
    padding-top: 10px;
    
 }

 .left{
    display: flex;
    padding-left: 200px;
    cursor: pointer;
    
  
   
    


}

.center{
    display: flex;
    gap: 60px;
    padding-right: 100px;
    cursor: pointer;
    
    
      
}
.form{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 80px;
}